*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right,white , blue);
    margin: 10px;
}

h1{
    margin: 30px 0px;
}

h3{
    margin: 20px 0px;
}

.columns{
    column-width:200px;
}

.threecolumns{
    margin-top: 20px;
    column-count: 3;
    column-gap: 2em;
    column-rule: 2px dashed yellow;
}