*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    margin: 20px auto;
    width: 90%;
    line-height: 150px;
    text-align: center;
}

header,article{
    height: 150px;
}

 header{
    background-color: yellow;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

@media screen and (max-width:991px) and (min-width:576px){
 header{
    background-color: orange;
    color: green;
}

.red{
    width: 50%;
    float: left;
}

.blue{
    width: 50%;
    float: left;
}

.green{
    clear: both;
}   
}

@media screen and (min-width:992px){
 header{
    background-color: orange;
    color: green;
}

.green,.blue,.red{
    width: calc(100%/3);
    float: left;
}

}

@media screen and (orientation: landscape){
 header{
    background-color: orange;
    color: green;
}
}