.sombra {
  margin: 100px;
  width: 120px;
  height: 120px;
  box-shadow: 0px 0px 0px 5px rgb(85, 91, 255), 15px -15px 0px 0px white,
    15px -15px 0px 5px rgb(31, 193, 27),30px -30px 0px 0px white,
    30px -30px 0px 5px rgb(255, 217, 19),45px -45px 0px 0px white,
    45px -45px 0px 5px rgb(255, 156, 85),60px -60px 0px 0px white,
    60px -60px 0px 5px rgb(255, 85, 85);

  /* 10px -10px 0px 0px white,
    15px -15px 0px 0px rgb(31, 193, 27),
    10px -10px 0px 5px rgb(31, 193, 27); */
}
