/*GLOBAL*/
:root{
    --blue:#5050F0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

/*CONTACT*/
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.contact__form{
    grid-column: 1 / 2; 
    background-color: white; 
    padding: 40px; 

    display: flex;
    flex-direction: column;
    justify-content: center; 
}

/*FORM*/
.contact__form{
    grid-column: 1/2;
    display: grid;
}

/*IMAGE*/
.contact__image{
    background-color: var(--blue); 
    clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}