* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #305778;
  background: linear-gradient(
    90deg,
    rgba(48, 87, 120, 1) 3%,
    rgba(79, 107, 92, 1) 50%,
    rgba(112, 112, 111, 1) 97%
  );
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

h3 {
    padding-left: 10px;
}

.columns {
  columns: 175px;
  padding: 20px;
}

.threecolumns{
    column-count: 3;
    column-rule-color: yellow;
    column-rule-width: 1px;
    column-rule-style: dashed;
}
