body{
    text-align: center;
    font-family: sans-serif;
}

h1{
    text-shadow: 6px 4px 4px rgb(103, 103, 103);
    font-size: 60px;
    background-image: linear-gradient(to right, rgb(68, 176, 68), rgb(0, 0, 0));
    background-clip: text;
    color: transparent;
}

img{
    filter: drop-shadow(0px 0px 30px rgb(68, 176, 68));
}