:root{
    --white: #ffffff;
    --darkblue: #152C55;
    --ligthorange: #D4956A;
    --orange: #AA6639;
    --blue:#4D648D;
    --ligthblue:#7688A9;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(to right, #D7B81C,#EAE1B6);
  color: var(--white);
  margin: 20px;
  height: calc(100vh-20px);
}

.container{
    max-width: 1000px;
    background-color: var(--white);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    gap: 20px;
}

.header,.footer{
    height: 100px;
    background-color: var(--darkblue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.header__link,.aside__link{
    text-decoration: none;
    color: var(--white);
}

.aside{
    background-color: var(--ligthorange);
    padding: 20px;
}

.bloque-servicios__servicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: auto;
}

.aside__tile{
    text-align: center;
    margin-bottom: 20px;
}

aside>ul{
    padding-left: 20px;
    color: black;
}

/*Bloques colores*/
.bloque-servicios__servicio--elem1{
    background-color: var(--orange);
}

.bloque-servicios__servicio--elem2{
    background-color: var(--blue);
}

.bloque-servicios__servicio--elem3{
    background-color: var(--ligthblue);
}

@media screen and (min-width: 800px){
    
    .header{
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0px 20px;
    }

    .container-main{
        flex-direction: row-reverse;
        display: flex;
    }

    .bloque-servicios{
        display: flex;
        flex-direction: row;
        flex-basis: 60%;
    }

    .aside{
        flex-grow: 1;
    }

}