*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

.container{
    border: 2px dashed black;
    margin: 50px;
    height: 675px;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.item{
    border: 2px solid black;
    font-size: 1.2rem;
    height: 150px;
    width: 150px;
    /* truco para centrar verticalmente si solo hay 1 linea en el contenido */
    line-height: 130px;
    padding: 10px;
    text-align: center;
    flex-grow: 1;

}

.item1{
    background-color: chartreuse;

}

.item2{
    background-color: firebrick;
    align-self: flex-end;
}

.item3{
    background-color: cornflowerblue;

}

.item4{
    background-color: deeppink;
    align-self: flex-start;
}