*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    text-align: right;
    background-color: blue;
    position: fixed;
    width: 100%;
}

.container img{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
button{
    background-color: darkblue;
    color: white;
    width: 100px;
    height: 50px;
}
button:hover{
    background-color: aquamarine;    
}
