*{
box-sizing: border-box;
margin: 0;
padding: 0;

}
html{
    background: linear-gradient(to bottom, blue,lightblue);
}

h1{
    text-align: center;
    margin-bottom: 50px;
    color: white;
    padding-top: 30px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.img1, .img2 , .img3,.img4,.img5,.img6{
    height: 350px;
    width: 380px;
    flex-grow: 1;
    min-width: 350px;    
    object-fit: cover;

}


