/*GLOBAL*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root{
    --rojo:#fc466b;
    --azul :#3f5efb;
    --gris_claro:#fafafa;
}

h1,h2,h3,h4{
    font-family: "PT Sans";
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
    line-height: 1.5;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans";
}

/*Cabezera*/
.header{
    background-image: linear-gradient(to left, rgb(57, 18, 186), rgb(255, 133, 153));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    color: white;
    padding: 50px;
}

/*navegacion*/
.nav{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.nav__link{
    text-decoration: none;
    color: white;
}

/*Imagen*/
.nav__figure{
    text-align: center;
}

.nav__img,.about__img,.card__figure{
    height: 100%;
    width: 100%;
    display: block;
}

/*INFERIOR*/
.header__bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 70%;
}

/*SUPERIOR*/
.header__top{
    text-align: center;
    font-size: 30px;
    flex: 1 1 30%;
}

.header__logo{
    font-size: 50px;
    margin-bottom: 30px;
}

/*Sobre Nosotros*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 100px;
}

.about__tittle{
    color: var(--rojo);
}

.ctr_button{
    padding: 20px;
    text-decoration: none;
    color: white;
    background-color: var(--rojo);
    border-radius: 100px;
}

.about__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/*CARD*/
.plains{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    background-color: var(--gris_claro);
    padding: 150px;
}

.card{
    box-shadow: 0px 0px 10px lightgray;
    background-color: white;
    border-radius: 20px;
}

.card__img{
width: 100%;
border-top-left-radius:20px;
border-top-right-radius: 20px;
}

.plains__tittle{
    color: var(--rojo);
}

.ctr_button2{
    text-decoration: none;
    color: white;
    background-color: var(--azul);    
    padding: 20px;
    border-radius: 100px;
    text-align: center;
}

.card__tittle{
    color: var(--azul);
    text-align: center;
}

.card__text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

/*TAGLINE*/
.tagline{
    padding: 80px;
    background-color: var(--rojo);
    color:white;
    text-align: center;
}

/*WORKS*/
.works{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
}

.works__tittle{
    text-align: center;
    color: var(--rojo);
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.gallery__img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
        box-shadow: 0px 0px 10px lightgray;

}

.gallery__figure{
    width: 95%;
    height: 100%;
    
}

/*expert*/
.expert{
    background-color: var(--gris_claro);
    padding: 100px;
}

.expert__tittle{
    color: var(--rojo);
    text-align: center;
    padding-bottom: 50px;
}

.expert__img{
    width: 100%;
    height: 100%;
}

.expert__figure{
    width: 25%;
}

.expert__top,.expert__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

/*Formulario*/
.contact{
    padding: 50px 20px;
}

.contact__tittle{
    color: var(--rojo);
    text-align: center;
    padding: 50px;
}

.contact__field{
    display: flex;
}

.contact__label{
    flex: 200px;
}

.contact__text{
    flex: 100%;
    border: var(--azul) 1px solid;
}

form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.ctr_button3{
    height: 50px;
    background-color: var(--azul);
    color: white;
    border: var(--gris_claro);
}

/*FOOTER*/
.footer{
    background-color: var(--rojo);
    padding: 100px;
    color: white;
}

.footer__img{
    width: 100%;
    height: 100%;
}

.social__media{
    display: flex;
    justify-content: space-between;
}

.social__icons{
    color: white;
    font-size: 40px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.footer__nav,.footer__nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.footer__tittle{
    text-align: center;
    color: white;
    padding: 50px;
}

.link__footer{
    color: white;
}

.derechos{
    text-align: center;
}