html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

img {
    max-width: 100%;
}

.header {
    padding-top: 3rem;
}

.navigation {
    background-color: black;
    margin: 3rem 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container__grid1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.navigation__link {
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.navigation__link:hover {
    background-color: #c9c84a;
    color: black;
}

.hero__img {
    width: 100%;
}


.main-content__post p {
    text-align: justify;
    padding: 0 1rem;
}

blockquote {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    color: #525252;
}

.main-content__info {
    background-color: #c9c84a;
    color: white;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content__info p {
    margin: 0 0 .5rem 0;
    padding: 1rem;
    text-align: center;
}

.main-content__img1, .main-content__img2 {
    text-align: center;
}

.footer {
    background-color: #c9c84a;
    padding-top: 3rem;
    text-align: center;
}

.container__grid3{
        display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.footer__link {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: .5rem;
}

.footer__copyright {
    color: white;
    background-color: #282828;
    margin: 3rem 0 0 0;
    padding: 1rem;
    text-align: center;
}

@media screen and (min-width: 768px){
    
    .main-content__title {
    text-align: center;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.container__grid2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto repeat(3,1fr);
}

.main-content__post{
    grid-column: 2/3;
    grid-row: 2/-1;
}

.main-content__info{
    grid-column: 1/2;
    grid-row: 2/3;
}

.main-content__img1{
    grid-column: 3/4;
    grid-row: 3/4;
}

.main-content__img2{
    grid-column: 1/2;
    grid-row: 4/5;
}

}