*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/*Fixed*/
.container{
    background-color:#87CEFA ;
    width: 800px;
    height: 600px;
    margin: 50px auto;
    padding: 5px 0px;
}

header{
    height: 40px;
    background-color: #FFA500;
    margin: 15px 20px;
}

article{
    width: 375px;
    background-color: #20B2AA;    
    height: 500px;
    padding: 10px;
}

main{
    margin: 20px;
    overflow-y: auto;
}

article:nth-child(1){
    float: left;
}

article:nth-child(2){
    float: right;
}