*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
    font-family: sans-serif;
}

.container{
    border: 2px dashed black;
    margin: 50px;
    height: 675px;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.item{
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 100;
    height: 100px;
    text-align: center;
    width: 100px;
    margin-bottom: 100px;
}
.item1{
    background-color: aqua;
}
.item2{
    background-color: bisque;
    
}
.item3{
    background-color: blueviolet;
}
.item4{
    background-color: cadetblue;
}
.item5{
    background-color: lightcoral;
}
.item6{
    background-color: darkgoldenrod;
}
.item7{
    background-color: green;
}
.item8{
    background-color: yellow;
}


