*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Container*/
.container{
    max-width: 1200px;
    height: 100vh;
    margin: 20px;
}

/*Gallery*/
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__figure{
    flex: 1 1 350px;
    height: 350px;
}

.tittle{
    text-align: center;
    margin: 20px;
}