/*GLOBAL*/
:root {
  --rojo: #fc466b;
  --azul: #3f5efb;
  --grisClaro: #fafafa;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
  font-display: swap;
}

/*ICONOS*/

/* fas fa-code - "f121"
fab fa-facebook-f  -  “\f39e”
fab fa-twitter  -  “\f099”
fab fa-instagram  -  “\f16d” */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans' ;
}

h1,
h2,
h3,
h4 {
    font-family: 'PTSans' ;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

/*HEADER*/
.header{
    background-image: linear-gradient(to right, var(--rojo), var(--azul));
    height: 100%;
    padding: 25px;
}

/*NAV*/
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav__link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/*LOGO*/
.fa-code{
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

/*CONTENT*/
.content{
    padding: 50px 0px;
}

.content__title,.content__subtitle{
    color: white;
}

.content__img,.about__img{
    width: 100%;
    height: 100%;
    display: block;
}

.content__figure{
    padding: 20px;
}

/*ABOUT*/
.about{
    padding: 100px 25px;
}

.about__title{
    color: var(--rojo);
    text-align: center;
    margin-bottom: 30px;
}

.about__text{
    padding: 10px 0px;
}

.ctr__button{
    background-color: var(--rojo);
    text-decoration: none;
    color: white;
    border-radius: 100px;
    padding: 20px 30px;
    margin: 30px auto;
    text-align: center;
}

.about__figure{
    padding: 60px;
}