/*ESTATICO*/
:root{
    --header: #FFFACD;
    --nav:#FFE4E1;
    --aside:#E6E6FA;
    --footer:#C0C0C0;
    --main:#FFFFFF;
    --background:#071A52;
}

body{
    font-family: sans-serif;
    background-color: var(--background);
    height: 100%;
}

/*CONTENEDOR*/
.container{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

/*HEADER*/
.header{
    background-color: var(--header);
}

/*FOOTER*/
.footer{
    background-color: var(--footer);
}

/*AMBOS*/
.footer,.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 5rem
}

/*NAV*/
.navigation{
    background-color: var(--nav);
}

/*MAIN*/
.main{
    background-color: var(--main);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/*BARRA LATERAL*/
.sidebar{
    background-color: var(--aside);
}

/*TODOS*/
.main,.sidebar,.navigation{
    padding: 10px;
}

/*MEDIA QUERY DESKTOP*/
@media screen and (min-width: 600px){
    
    .container{
    max-width: 1100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: 5rem 1fr 5rem;
}

    .header{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    .sidebar{
        grid-column: 3/-1;
        grid-row: 2/3;
}
.footer{
    grid-column: 1/-1;
    grid-row: 3/4;
}

.main{
    grid-column: 2/3;
    grid-row: 2/3;
}

.navigation{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        gap: 10px;
}

}