*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    position: relative;
}

.sticky-menu{
    position: sticky;
    top: 0px;
    background-color: grey;
    color: white;
    padding: 20px;
    z-index: 3;
}
.menu-element{
    display: inline;
    padding: 20px;
}
a{
    
    color: white;
    text-decoration: none;
}
.footer{
    background-color: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

.banner{
    position: relative;
    background-color: lightblue;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    height: 150px;
}
.logo1{
    position: absolute;
    background-color: green;
    width: 100px;
    height: 100px;
    left: 50px;
    margin-top: 20px;
    z-index: 2;
}
.logo2{
    position: absolute;
    background-color: orange;
    width: 100px;
    height:100px;
    left: 100px;
}
.content{
    position: relative;
    background-color: salmon;
    height: 600px;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
    margin-right: 50px;
}
.centered{
    position: absolute;
    bottom: 60px;
    left:25%;
    line-height: 150px;
    height: 150px;
    width: 50%;
    background-color: lightgreen;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -75px;
    top: 50%;
}

