*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container{
    width: 90%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
}
h1{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

header{
    height: 150px;
    background-color: yellow;

}
article{
    height: 150px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}

@media screen and (min-width: 576px) {
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
h1{
  margin: auto;
}

header{
    height: 150px;
    background-color: orange;
    color: green;
}
article{
    height: 150px;
}
.red{
    background-color: red;
    float: right;
    width: 50%;
}
.blue{
    background-color: blue;
    float: right ;
    width: 50%;
}
.green{
    background-color: green;
    margin-top: 150px;
}
}
@media screen and (min-width: 992px) {
    .red,.blue,.green{
        width: calc(100%/3);
        
    }
    .green{
        float: right;
        margin: 0
        ;
    }
}