.sombra{
    margin: 50px;
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 0px 5px rgb(85, 91, 255), 
    0px 0px 0px 10px rgb(31, 193, 27),
    0px 0px 0px 15px rgb(255, 217, 19),
    0px 0px 0px 20px rgb(255, 156, 85), 
    0px 0px 0px 25px rgb(255, 85, 85) ;
}