* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  height: 350px;
  width: 250px;
  margin-top: 125px;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 10px 10px 19px;

  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.secondContainer {
  border: 1px dashed black;
  width: 75%;
  margin: 0 auto;
  height: 15%;
  border-radius: 12px;
  background: #eeaeca;
  background: #94bbe9;
  background: linear-gradient(
    nulldeg,
    rgba(148, 187, 233, 1) 11%,
    rgba(148, 187, 233, 1) 18%,
    rgba(148, 187, 233, 1) 20%,
    rgba(162, 185, 228, 1) 30%,
    rgba(194, 180, 217, 1) 54%,
    rgba(212, 178, 211, 1) 67%,
    rgba(228, 176, 206, 1) 78%,
    rgba(238, 174, 202, 1) 86%,
    rgba(238, 174, 202, 1) 92%
  );

  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

a {
  line-height: 45px;
  text-decoration: none;
  color: white;
}
