*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    text-align: center;
}


.card{
    width: 20%;
    margin: 80px auto;
    
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px black;
}

img{
    width: 50%;
    border-radius: 100px;
    margin: 20px;
    margin-top: 30px;
}

p{
    font-weight: bold;
    margin: 10px;
}

input[type="button"]{
    background: linear-gradient(to left,rgb(255, 133, 153) , rgb(111, 186, 255));
    border-radius: 5px;
    padding: 8px;
    margin: 20px;
    margin-bottom: 30px;
    color: white;
}