* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.parrafo_destacado {
  font-size: 0.8rem;
  font-style: italic;
  color: rgb(64, 159, 159);
}

.parrafo_estandar {
  font-size: 1.2rem;
  color: rgb(117, 181, 159);
}

p,
h1,
h2 {
  color: rgb(67, 73, 73);
}

.parrafo {
  width: 30%;
  border: 1px solid black;
  background-color: brown;
text-align: center;
}

.destacado {
    line-height: 100px;
    font-weight: bolder;
}

.estandar {
    margin: 0 auto;
    columns: 2;
    column-gap: 100px;
    background-color: bisque;
}