/*GLOBAL*/
:root {
  --rojo: #c6426e;
  --morado: #642b73;
  --amarillo: #ffce00;
  --blanco: #ffffff;
  --negro: #000000;
}

/*ICONOS*/
/* fas fa-shopping-cart 
▪ fas fa-euro-sign 
▪ fab fa-css3-alt 
▪ fas fa-shipping-fast 
▪ far fa-check-circle */

/*FUENTES*/
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansTC-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Staatliches";
  src: url("../fonts/Staatliches-Regular.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Staatliches";
  background-color: rgb(90, 148, 255);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*HEADER*/
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.nav {
  background-color: var(--morado);
}

.nav__container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;
}

.nav__link {
  text-decoration: none;
  color: var(--blanco);
}

.active {
  color: var(--amarillo);
}

.fa-shopping-cart {
  color: var(--blanco);
}

/*MAIN*/
.main {
  padding: 20px 0px;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "titulo titulo"
    "img img"
    "text text"
    "select input"
    "button button";
  color: var(--blanco);
  gap: 20px;
}

.main__description{
    font-family: "NotoSans";
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.main__title {
  color: var(--amarillo);
  text-align: center;
}

.ctr__button {
  background-color: var(--amarillo);
  border: 0px;
  height: 80px;
}

.main__img {
  width: 100%;
  height: 100%;
  display: block;
}

.buy__select,
.buy__number {
  border: 10px solid var(--morado);
  padding: 10px;
  background-color: transparent;
  font-family: "NotoSans";
}

.buy__select {
  color: var(--blanco);
  text-align: center;
}

/* GRID */
.main__title {
  grid-area: titulo;
}

.main__figure {
  grid-area: img;
}

.main__description {
  grid-area: text;
}

.buy__select {
  grid-area: select;
}

.buy__number {
  grid-area: input;
}

.ctr__button {
  grid-area: button;
}

/*/*FOOTER*/
.footer {
  background-color: var(--morado);
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media screen and (min-width: 768px) {

  .main__container {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "titulo titulo titulo"
      "img text text"
      "img select input"
      "img button button"
      "img . .";
  }

  .main__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
