/*GLOBAL*/
:root {
  --rojo: #c6426e;
  --morado: #642b73;
  --amarillo: #ffce00;
  --blanco: #ffffff;
  --negro: #000000;
}

/*ICONOS*/
/* fas fa-shopping-cart 
▪ fas fa-euro-sign 
▪ fab fa-css3-alt 
▪ fas fa-shipping-fast 
▪ far fa-check-circle */

/*FUENTES*/
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansTC-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Staatliches";
  src: url("../fonts/Staatliches-Regular.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Staatliches";
  background-color: rgb(90, 148, 255);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*HEADER*/
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.nav {
  background-color: var(--morado);
}

.nav__container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;
}

.nav__link {
  text-decoration: none;
  color: var(--blanco);
}

.active {
  color: var(--amarillo);
}

.fa-shopping-cart {
  color: var(--blanco);
}

/*MAIN*/
.main{
    padding: 20px 0px;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5,auto);
  grid-template-areas:
    "nosotros nosotros"
    "img img"
    "text text"
    "compra compra"
    "card--1 card--2"
    "card--3 card--4";
  color: var(--blanco);
  gap: 20px;
}

.main__title,
.main__subtitle,
.card__title {
  padding: 20px;
  color: var(--amarillo);
  text-align: center;
}

.main__content,
.card__content {
  font-family: "NotoSans";
    line-height: 1.5;
}

.main__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__img {
  width: 100%;
  height: 100%;
  display: block;
}

.card{
    text-align: center;
    padding: 10px;
}

.icon{
    font-size: 9rem;
}

/*GRID*/
.main__title {
  grid-area: nosotros;
}

.main__figure {
  grid-area: img;
}

.main__content {
  grid-area: text;
}

.main__subtitle {
  grid-area: compra;
}

.card--1 {
  grid-area: card--1;
}
.card--2 {
  grid-area: card--2;
}
.card--3 {
  grid-area: card--3;
}
.card--4 {
  grid-area: card--4;
}

/*/*FOOTER*/
.footer {
  background-color: var(--morado);
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media screen and (min-width: 768px){
    
    .main__container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto 1fr;
          grid-template-areas:
    "nosotros nosotros nosotros nosotros"
    "text text img img"
    "compra compra compra compra"
    "card--1 card--2 card--3 card--4";
    padding-bottom: 20px;
    }

    .main__content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
