*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(155, 220, 246) 80%, white);
    margin: 0 auto;
    text-align: center;
}

.galery__title{
    margin: 50px;
}

.galery__container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.galery__figure{
    flex: 1 1 350px;
    height: 350px;
}

.galery__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
 }