* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wave {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(/ejercicioPrueba/pexels-mikegles-15904364.jpg);
    background-size: cover;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    z-index: 3;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.wave .ola {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    z-index: 2;
}
